.wrapper {
  width: 500px;
}

.form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.formInput {
  display: flex;
  justify-content: space-between;
}

.input {
  outline: none;
  padding: 5px 8px;
  border: 1px solid rgb(55, 55, 255);
  border-radius: 3px;
}

.button {
  margin-top: 50px;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 6px;
  background-color: rgb(55, 55, 255);
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgb(65, 65, 183);
}
